* {
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin: auto;
}

header>img {
  width: 125px;
  height: 32px;
  margin: 33px 0 0 35px;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 55.5px 37px 50px 38px;
  justify-content: center;
  row-gap: 17px;
  font-family: 'Poppins', sans-serif;
}

#herotitle {
  font-weight: 600;
  font-size: 20px;
}

#herotext {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#register-button{
  text-decoration:none;
  color:black;
  text-align:center;
  border : 1px solid white;
  border-radius: 15px;
  padding:13px 0;
  background-color: white;
  width:165px;
  margin-left:30px;
}

.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  color: white;
}

.fab:hover {
  color: rgb(255, 83, 196);
  border-color: rgb(255, 83, 196);
}

/* Media queries for desktop view*/
@media screen and (min-width:750px) {
  body {
    background-image: url("./images/bg-desktop.svg");
  }

  .container {
    margin: 40px 70px 60px 45px;
    justify-content: flex-start;
    flex-direction: row;
    row-gap: 0;
    column-gap: 45px;
    font-family: 'Poppins', sans-serif;
  }

  #herotitle {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
  }

  #herotext {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
}
