* {
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("./images/bg-mobile.svg");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
}

header>img {
  width: 251px;
  height: 63px;
  margin: 65px 0 0 70px;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 125px 73px 100px 70px;
  justify-content: center;
  row-gap: 130px;
  font-family: 'Poppins', sans-serif;
}

#herotitle {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
}

#herotext {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.socialicons {
  display: flex;
  float: right;
  margin-right: 70px;
  margin-bottom: 10px;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  color: white;
  margin-right: 20px;
}

.fab:hover {
  color: rgb(255, 83, 196);
  border-color: rgb(255, 83, 196);
}

/* Media queries for desktop view*/
@media screen and (min-width:650px) {
  body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-desktop.svg");
  }

  .container {
    margin: 40px 70px 60px 45px;
    justify-content: flex-start;
    flex-direction: row;
    row-gap: 0;
    column-gap: 45px;
    font-family: 'Poppins', sans-serif;
  }

  .container>img {
    height: 502px;
    width: 712px;
  }

  #herotitle {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
  }

  #herotext {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
}
