* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  color: black !important;
  transition: transform 2s linear !important;
}

a:hover {
  transform: translateX(10px);
}
