body {
  margin: auto;
  padding-top : 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display:flex;
  justify-content: center;
}

#header-img {
  width: 110px;
  margin-right : 20px;
}

.header-navigation>a {
  text-decoration: none;
  color:grey;
}
