body {
  max-width:70%;
  margin: auto;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
  background-color:aquamarine;
  display: flex;
  justify-content: center;
}

#header-img {
  width: 140px;
  margin-right: 40px;
}

.menu-items {
  display: inline;
  padding-bottom : 10px;
}

.menu-items>li {
  display: inline;
  margin-right: 20px;
}

.menu-items>li>a{
  color:grey;
  text-decoration:none;
}
