* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #f6d634, #fda085);
  font-family: Poppins;
}

header {
  color: white;
  font-size: 64px;
  font-weight: 400;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form,
header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input {
  border-radius: 2px;
}

.todo-input:focus {
  outline: none;
}

.submit-button {
  position: relative;
  right: 2px;
  cursor: pointer;
  color:greenyellow;
  transition: all 0.3s linear;
}

.submit-button i{
  font-size:27px;
}

.submit-button:hover {
  background-color:aquamarine;
  color: white;
}

.category {
  appearance: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-items {
  list-style: none;
  min-width: 30%;
  padding: 0 1rem;
}

.todo{
  background-color:white;
  margin : 0.5rem;
  color:black;
  font-size:1.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li{
  flex:1;
}

.complete-btn {
  font-size: 1.5rem;
  background-color: lightgreen;
  color: white;
  border: none;
  padding: 0.5rem;
}
.trash-btn {
  color: white;
  background-color: red;
  font-size: 1.5rem;
  border: none;
  padding:0.5rem;
}

.fa-check, .fa-trash{
  pointer-events: none;
}

.strike-effect{
  text-decoration: line-through;
  opacity: 0.5;
}

.clear-effect{
  opacity:0;
}

.selection-menu{
  outline: none;
  border: none;
  width:2rem;
}