.buy-now-nav {
    margin-top: 8px;
    line-height: 24px;
    height: 24px;
    background-color: #ff6700;
    color: white!important;
    text-decoration: none;
    font-size: 14px;
    padding: 0 12px;
}

.mi-logo-bg {
    height: 56px;
    width: 56px;
}

.mi-logo {
    transform: translateX(60px);
}