.buy-now-nav {
  margin-top: 8px;
  line-height: 24px;
  height: 24px;
  background-color: #ff6700;
  color: white !important;
  text-decoration: none;
  font-size: 14px;
  padding: 0 12px;
}

.mi-logo {
  position: relative;
  width: 56px;
  height: 56px;
  bottom: 5px;
}

.separator {
  color: #8c8c8c;
  font-size: 16.8px;
}

.hero-section{
  background-color: black;
}

.hero-image{
  height:50%;
  width:50%;
  float:right;
}