body {
  margin-top: 100px;
  background-color: black;
}

.buy-now-nav {
  margin-top: 8px;
  line-height: 24px;
  height: 24px;
  background-color: #ff6700;
  color: white !important;
  text-decoration: none;
  font-size: 14px;
  padding: 0 12px;
}

.mi-logo {
  width: 56px;
  height: 56px;
  margin-bottom: 5px;
}

.separator {
  color: #8c8c8c;
  font-size: 16.8px;
}

.hero-section {
  background-image: url("assets/img/section01.jpg");
  background-size: cover;
  color: white;
  height: 580px;
}

.title-gradient {
  font-size: 48px;
}

.subtitle-gradient{
  font-size: 23px;
}
